@-webkit-keyframes animationlogo {
	0% {
		transform: scaleX(0);
	}
	25% {
		transform: scaleX(1);
	}
	50% {
		transform: scaleX(0);
	}
	75% {
		transform: scaleX(-1);
	}
	100% {
		transform: scaleX(0);
	}
}

@keyframes animationlogo {
	0% {
		transform: scaleX(0);
	}
	25% {
		transform: scaleX(1);
	}
	50% {
		transform: scaleX(0);
	}
	75% {
		transform: scaleX(-1);
	}
	100% {
		transform: scaleX(0);
	}

}
/* GLOBAL */
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
    background-color: #000; /* noir */
	color: limegreen;
}
div.menunavigation a,div.retourindex a
{
    color: #2A8782;
    text-decoration: none;
	border: yellow 4px solid;
	padding: 15px;
}
div.menunavigation a:hover,div.retourindex a:hover
{
	color: yellow;
	text-decoration: none;
	border: darkgreen 4px solid;
	padding: 15px;
}
nav div.menunavigation
{
	display: block;
	padding: 15px;
}
body
{
    margin: 0 auto;
    text-align: center;
    font-family: Arial,Times, sans-serif;
	font-size: 16px;
}
h6
{
	font-size: 2.5em;
	text-align: center;
	color:#2A8782;
	text-shadow: 1px 1px limegreen;
}
/* HEADER */
div.entete
{
	background-image: url(../images/fondCarambar.png);
	width:100%;
	height: auto;
}
div.entete img.logoscaphycarambar
{
	display: block;
	text-align:center;
	margin: 0 auto;
	max-width: 200px;
}
h1
{
	font-size: 3em;
	background-color:rgba(255,255,255,0);
	color: #000;
	display: block;
	text-align: center;
	margin: 0 auto;
	text-shadow: 3px 3px red;
}
h2
{
	font-size: 2em;
	text-shadow: 1px 1px yellow;
	color:red;
	display:block;
}
/* MAIN */
div.commentaires
{
	width: 80%;
	margin: 0 auto;
}
.fondPage
{
	width: 100%;
}
button
{
	padding: 15px 15px;
	border: 3px solid #000;
	color: #000;
}
.menunavigation
{
	text-align: center;
	margin: 45px auto;
}
.navigationaccueil
{
	padding: 15px;
	background-color: #E7010F;
	margin: 0 auto;
	text-align: center;
	display: block;
	vertical-align: baseline;
}
fieldset
{
	max-width: 80%;
	text-align: center;
	margin: 15px auto;
}
.encartformulaire
{
	text-align: center;
	margin: 15px auto;
	max-width: 90%;
	height: auto;
	color: #000;
}
.encartformulaire fieldset
{
	max-width: 50%;
	text-align: center;
	margin: 15px auto;
}

.encartformulaire label
{
	display: block;
	vertical-align: baseline;
}
.encartformulaire input {
	display: block;
	vertical-align: baseline;
	text-align: center;
	margin: 5px auto;
}
.boutonenvoyerformulaire
{
	padding: 15px;
	color: #FFF;
	background-color: #000;
	border: none;
}
div.teimoignageclients
{
	text-align: center;
	margin: 25px auto;
	border: 1px solid #000;
	width: 60%;
}
div.readmore
{
	padding: 15px;
	max-width: 130px;
	background-color: limegreen;
	margin: 0 auto;
	text-align: center;
}
div.readmore a
{
	text-decoration: none;
	color: #FFF;
}
/* FOOTER */
.footer
{
	text-align: center;
}
div.retourindex
{
	margin-bottom: 45px;
	margin-top: 45px;
}
div.retourindex a
{
	color: red;
	text-decoration: none;
	padding: 15px;
}
div.piedsdepage img
{
	max-width: 150px;
	height: auto;
	border: 6px solid #2A8782;
	margin-bottom: 15px;
	margin-top: 15px;
	-webkit-animation: linear infinite 4.5s alternate animationlogo;
	animation: linear infinite 4.5s alternate animationlogo;
	perspective: 200px;
	perspective-origin: 50% 50%;
	border-radius: 90px;
}
footer p,footer p span
{
	color:yellow;
}
footer div.piedsdepage p
{
color:#2A8782;
}
footer p span
{
	color:limegreen
}
div.commande span
{
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
	color:#2A8782;
}
/* MEDIA QUERIES */
@media screen and (min-width: 640px) and (max-width: 1199px){

	.navigationaccueil
	{
	padding: 15px;
	background-color: #E7010F;
	margin: 15px;
	display: inline-block;
	vertical-align: top;
	}
	.teimoignageclients
	{
	text-align: center;
	margin: 25px auto;
	border: 1px solid #000;
	width: 40%;
	}
	
}
@media screen and (min-width: 1200px){
	div.entete img.logoscaphycarambar
	{
		display: inline-block;
		text-align:left;
		vertical-align: middle;
		margin-left: -380px;
		min-width: 300px;
	}
	h1

	{
		font-size: 4.5em;
		text-align: center;
		background-color:rgba(255,255,255,0);
		color: #000;
		padding-left: 15%;
		display: inline-block;
		vertical-align: middle;
		text-shadow: 3px 3px limegreen;
	}
	h2
	{
		font-size: 2em;
		color:red;
		text-shadow: 1px 1px yellow;
		display:inline-block;
	}
	.navigationaccueil
	{
	padding: 15px;
	background-color: #E7010F;
	margin: 0 45px;
	display: inline-block;
	vertical-align: top;
	}
.teimoignageclients
	{
	text-align: center;
	margin: 25px auto;
	border: 1px solid #000;
	width: 40%;
	}
.menunavigation a
{
	text-decoration: none;
	color: #FFF;
}
nav div.menunavigation
{
	display: inline-block;
	vertical-align: top;
	padding: 15px;
}
h6
{
	font-size: 3.5em;
	text-align: center;
	color:#2A8782;
	text-shadow: 1px 1px limegreen;
}
}

